{% extends 'base.html' %}

{% block head %}
<title> MTG Card Detector </title>
{% endblock %}

{% block body %}
<table>
    <tr>
        <th>Live Feed</th>
        <th>Add New Card</th>
    </tr>
    <tr>
        <td>
            <img src="{{ url_for('video_feed') }}" width="100%">
        </td>
        <td>
            <img id = "image1">
            <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
            <script>
                var socket = io.connect();
                socket.on('data', (data) => {
                    const imageElm = document.getElementById('image1');
                    imageElm.src = data;
                });
                socket.on('board', (data) => {
                    const imageElm = document.getElementById('board');
                    imageElm.src = data;
                });
                socket.on('l1', (data) => {
                            const life1 = document.getElementById('life_1');
                            life1.textContent = data;
                        });
            </script>

            <div class="form">
                <form action="/" method="POST">
                    <input type="submit" name="submit_button" value="Add Card">
                    <label for="delete">Name of Card to Delete</label>
                    <input id="delete" type="text" name="text">
                    <input type="submit" name="submit_button" value="Delete Card">
                </form>
            </div>

            <div class="form">
                <form action="/life" method="POST">
                    <input type="submit" name="submit_button" value= "+1">
                    <input type="submit" name="submit_button" value= "-1">
                    <input type="submit" name="submit_button" value= "reset">
                    <ul id="life_1"></ul>
                </form>
            </div>
            <!-- <script>
                var i = 0;
                function up_1() {
                    document.getElementById('life').value = ++i;
                }
                function down_1(){
                    document.getElementById('life').value = --i;
                }
                function resetLife(){
                    document.getElementById('life').value = i = 40;
                }
            </script>
            <button onclick="up_1()">+1</button>
            <button onclick="down_1()">-1</button>
            <button onclick="resetLife()">reset life total</button>S
            <input type="text" id="life"></input> -->
            
        </td>
    </tr>
    <tr>
        <td>
            Current Board:
            <img id = "board">
        </td>
    </tr>
    
</table>

{% endblock %}